{% block body %}
    <nav class="flex items-center justify-between m-5">
        <div class="flex items-center justify-center gap-2 font-bold">
            <img src="{{ asset('TamwillLogo.png') }}" alt="TamWill Logo" class="h-12 w-12">
            <h1 class="text-2xl">TamWill</h1>
        </div>
        <ul class="flex space-x-4 p-4 text-dark-700 font-medium">
            <li><a href="#" class="hover:underline hover:scale-105 hover:shadow-2xl">Home</a></li>
            <li><a href="#" class="hover:underline hover:scale-105 hover:shadow-2xl">About US</a></li>
            <li><a href="#" class="hover:underline hover:scale-105 hover:shadow-2xl">How it works</a></li>
            <li><a href="#" class="hover:underline hover:scale-105 hover:shadow-2xl">Campaigns</a></li>
            <li><a href="#" class="hover:underline hover:scale-105 hover:shadow-2xl">Contact US</a></li>
        </ul>

        <div>

        </div>

    </nav>
{% endblock %}
