{% block body %}
    <div class="flex justify-start items-start p-10 gap-5 w-full">
        <div
            class="bg-cover bg-center bg-no-repeat flex items-center shadow-lg rounded-2xl"
            style="background-image: url('{{ asset('hands.png') }}');"
        >
            <div class=" mt-[500px] w-[550px] h-64 bg-white rounded-2xl m-5">
                <div class="flex items-center justify-between">
                    <div class="bg-gray-300 m-5 rounded-4xl flex gap-4 items-center justify-between px-4 py-2">
                        <div class="bg-black h-2 w-2 rounded-full"></div>
                        <p class="text-sm">{{progress}} % Porgress</p>
                    </div>
                    <div class="mr-20">
                        <h3 class="text-2xl font-sm text-dark-700 ml-3">$ {{goal}}</h3>
                    </div>

                </div>
                <div class="flex items-center">
                    <img src="https://tse2.mm.bing.net/th/id/OIP.TEsj6KR1RPjPVSPedGOX1AHaEO?rs=1&pid=ImgDetMain&o=7&rm=3" class="h-40 rounded-2xl ml-5">
                    <div>
                        <h2 class="text-2xl font-semibold text-dark-700 ml-5">Your Kindnes</h2>
                        <h2 class="text-2xl font-semibold text-dark-700 ml-5">Creates Real Change</h2>
                        <button class="bg-gray-900 text-white px-6 py-2 rounded-md ml-5 mt-3 hover:bg-black hover:scale-110 cursor-pointer transition duration-300">
                            Donate Now
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="flex flex-col items-start gap-5">
            <div class="bg-gray-300 m-5 rounded-4xl flex gap-4 items-center justify-between px-8 py-2">
                <div class="bg-black h-2 w-2 rounded-full"></div>
                <p class="text-sm">Charity Donation Platform</p>
            </div>
            <div class="flex flex-col px-10">
                <h1 class="text-8xl font-bold text-dark-700 leading-tight">
                    Be the Reason
                </h1>
                <h1 class="text-8xl font-bold text-dark-700 leading-tight">
                    Someone Smiles
                </h1>
            </div>
            <p class="text-dark-700 text-lg px-10">
                Join us in making a difference! Your generous donations help transform lives and bring hope to those in need. Together, we can create a brighter future for all.
                Every contribution, big or small, supports vital programs and empowers communities. Stand with us to spread kindness, uplift those facing challenges, and inspire positive change. Your support truly matters!
            </p>
            <div>
                <button class="bg-gray-900 text-white px-12 py-2 rounded-4xl ml-10 mt-3 hover:bg-black hover:scale-110 cursor-pointer transition duration-300">
                    See Campaigns
                </button>
                <a href="{{ path('app_login') }}" class="bg-white text-gray-900 px-12 py-2 rounded-4xl ml-5 mt-3 border-2 border-gray-900 hover:scale-110 cursor-pointer transition duration-300">
                    Signup Now
                </a>
            </div>
            <div class="block items-start mt-10">
                <div class="bg-gray-300 m-5 rounded-4xl flex gap-4 items-center justify-between px-8 py-2 w-[150px]">
                    <div class="bg-black h-2 w-2 rounded-full"></div>
                    <p class="text-sm">Category</p>
                </div>
                <div class="grid grid-cols-3 gap-2 ml-10 ">
                    <div class="bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-xs font-semibold">#ChildrenEducation</div>
                    <div class="bg-green-100 text-green-800 px-3 py-1 rounded-full text-xs font-semibold">#AnimalWelfare</div>
                    <div class="bg-gray-200 text-gray-800 px-3 py-1 rounded-full text-xs font-semibold">#MedicalHealthRelief</div>
                    <div class="bg-yellow-100 text-yellow-800 px-3 py-1 rounded-full text-xs font-semibold">#EnvironmentalCauses</div>
                    <div class="bg-red-100 text-red-800 px-3 py-1 rounded-full text-xs font-semibold">#Emergency</div>
                    <div class="bg-purple-100 text-purple-800 px-3 py-1 rounded-full text-xs font-semibold">#CareerEmpowerment</div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
